<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>Index Range</title>


</head>
<body class="bg-warning">
    <h1 class="display-1 text-center text-danger text-uppercase">{{index_name}}</h1>
    <span class=" col-sm-offset-5 display-1 text-warning text-center">THIS DATA ONLY FOR EDUCATIONAL PURPOSES.</span>

</body>

<p class="display-2 text-primary text-center text-uppercase">There is a 68% chance that {{index_name}} remains between {{lowerbound1n}} and {{upperbound1p}} </p>

<p class="display-3 text-primary text-center text-uppercase">There is a 95% chance that {{index_name}} remains between {{lowerbound2n}} and {{upperbound2p}} </p>

</html>