<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Index Range</title>

    <style>
        .footer {
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           background-color:#0d6efd;
           color: white;
           text-align: center;
        }
        </style>
</head>
<body class="bg-secondary">
    <h1 class="display-1 text-center text-warning text-uppercase">{{index_name}}</h1>
    <p class="h6 text-info text-center">THIS DATA ONLY FOR EDUCATIONAL PURPOSES.</p>

</body>

<div class="container">



<table class="table table-hover table-bordered">

<tr class="">
<td>
    <p class="text-white text-center text-uppercase">There is a 68% chance that {{index_name}} remains between {{lowerbound1n}} and {{upperbound1p}} </p>
</td>
</tr>
<tr>
    <td>
        <p class=" text-white text-center text-uppercase">There is a 95% chance that {{index_name}} remains between {{lowerbound2n}} and {{upperbound2p}} </p>
    </td>
</tr>



</table>




</div>
<div class="footer text-uppercase">
    <p>Powered By Python.</p>
</div>
</html>